.docs-footer {
    padding: 12px;
    font-size: 12px;
    background-color: rgb(33, 33, 33);
    color: white;
  }
  
  .docs-footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
  }
  .docs-footer-copyright {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    flex-direction: column;
    min-width: 225px;
    margin-top: 16px;
  
    > div {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      text-align: left;
    }
  
    @media (min-width: 885px) {
      margin-top: 0;
    }
  }
  
  @media screen and (max-width: 884px){
    .docs-footer-list {
      flex-direction: column;
    }
  }