.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
   
}
.card {
    display: grid;
    grid-template-rows: max-content 325px 1fr;
    cursor: pointer;
}

.spacer {
    flex-grow: 1;
}

.mat-card-title {
    display: flex;
}