<h2>Professions</h2>

<div class="cards">
  <a *ngFor="let profession of professions" class="card">
    <div>
        <span class="badge" bp="float-left">{{profession.type}}</span>
        <span class="name">{{profession.name}}</span>  
        <hr>
    </div>
    <div *ngFor="let feature of profession.features">
        {{feature.description}}
        <br>
        <br>
        <br>
        <div *ngFor="let ability of feature.abilities">
            <div class="trait">{{ability.name}} ({{ability.primaryTags}})</div>
            <div class="secondaryTags">{{ability.secondaryTags}}</div>
            <div class="tertiaryTags">{{ability.tertiaryTags}}</div>
            <span>{{ability.description}}</span>
        </div>
        <div *ngFor="let trait of feature.traits">
            <div class="trait">{{trait.name}}</div>
            <span>{{trait.description}}</span>
        </div>
    </div> 
  </a>
</div>
