<h2>Professions</h2>
<div class="cards">
  <mat-card *ngFor="let profession of professions" class="card">
    <mat-card-header>
        <mat-card-title>
          <span class="name">{{profession.name}}</span>  
        </mat-card-title>
        <mat-card-subtitle>
          <span>{{profession.type}}</span>
          <mat-divider></mat-divider>
        </mat-card-subtitle>
    </mat-card-header>
    <div *ngFor="let feature of profession.features">
      <p>
        {{feature.description}}
      </p>
      <div *ngFor="let ability of feature.abilities">
        <span class="ability-name">{{ability.name}}</span>
        <p>{{ability.description}}</p>
      </div>
      <div *ngFor="let trait of feature.traits">
        <span class="trait-name">{{trait.name}}</span>
        <p>{{trait.description}}</p>
      </div>
    </div>
  </mat-card>
</div>
