.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: max-content 350px 1fr;
}

.name{
    font-size: larger;
    font-weight:  bold;
}

.trait-name{
    font-size: small;
    font-weight: bold;
}
.ability-name{
    font-size: small;
    font-weight: bold;
}
.secondaryTags{
    font-size: small;
    font-style: italic;
}
.tertiaryTags{
    font-size: small;
    font-style: italic;
}
.feature{
    font-size: medium;
    font-weight: bold;
}