.name{
    font-size: larger;
    font-weight:  bold;
}

.trait-name{
    font-size: small;
    font-weight: bold;
}
.ability-name{
    font-size: small;
    font-weight: bold;
}
.secondaryTags{
    font-size: small;
    font-style: italic;
}
.tertiaryTags{
    font-size: small;
    font-style: italic;
}
.feature{
    font-size: medium;
    font-weight: bold;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}