<div *ngIf=ability>
    <span class="ability-name" *ngIf=includeTitle>{{ability.name}}</span>
    <div *ngIf="ability.primaryTags.length !== 0" class="secondaryTags">
        <span class="tag" *ngFor="let prime of ability.primaryTags" (click)="openTagDialog(prime)">{{prime}}, </span>
    </div>
    <div *ngIf="ability.secondaryTags.length !== 0" class="secondaryTags">
        <span class="tag" *ngFor="let prime of ability.secondaryTags" (click)="openTagDialog(prime)">{{prime}}, </span>
    </div>
    <p *ngIf="ability.description.length !==0">{{ability.description}}</p>
    <p class="flavorText">{{ability.flavorText}}</p>
</div>