<mat-toolbar>
    <div class="title">
        Valiance Character Builder
    </div>
    <span class="buttons">
        <a mat-stroked-button routerLink="/armor">Armor</a>
        <a mat-stroked-button routerLink="/characteristics">Characteristics</a>
        <a mat-stroked-button routerLink="/classes">Classes</a>
        <a mat-stroked-button routerLink="/lineages">Lineages</a>
        <a mat-stroked-button routerLink="/professions">Professions</a>
        <a mat-stroked-button routerLink="/weapon">Weapons</a>
        <a mat-stroked-button routerLink="/builder">Valiant Builder</a>
    </span>
    <span class="spacer"></span>
    <span class="toggle">
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8"></mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
    </span>
    <a href="https://github.com/GzusO/Valiant-Builder" mat-stroked-button title="Github">GitHub</a>
</mat-toolbar>
<main class="content mat-app-background" >
    <router-outlet ></router-outlet>
</main>

<app-footer class="mat-app-background"></app-footer>
    