mat-toolbar {
  display: flex;
  align-items: left;
  width: 100%;
  padding: 20px;
}

.content {
  padding: 16px;
  min-height: 100vh;
}

mat-card {
  max-width: 400px;
}
.spacer {
  flex: 1 1 auto;
}
.title {
  width: 250px;
}

.menuItem {
  display: block;
  color:white;
  margin: 4px 4px 4px 4px;
}