<div class="flex">
  <div class="third">
    <form>
      <mat-form-field appearance="fill" class="full">
        <mat-label>Ability Default Tier</mat-label>
          <input matInput type="number" placeholder="1" [(ngModel)]="defaultAbilityTier" name="tier">
      </mat-form-field>
      <mat-form-field appearance="fill" class="full">
        <mat-label>Default Types</mat-label>
              <mat-chip-list #chipDefaultAbilityType aria-label="Tag selection">
                <mat-chip *ngFor="let pTag of defaultAbilityTypes" [selectable]="selectable"
                         [removable]="removable" (removed)="removeDefaultAbilityType(pTag)">
                  {{pTag}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New type..."
                       [matChipInputFor]="chipDefaultAbilityType"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addDefaultAbilityType($event)">
              </mat-chip-list>
      </mat-form-field>
    </form>
  </div>
</div>

<div class="flex">
    <div class="third">
        <h2>Import Ability</h2>
          <mat-form-field appearance="fill" class="full">
            <mat-label>Textarea</mat-label>
            <textarea cdkTextareaAutosize cdkAutosizeMinRows="10" matInput [(ngModel)]="importAbilityText" (ngModelChange)="ParseAbilityImport($event)"></textarea>
          </mat-form-field>

          <form>
            <mat-form-field class="full">
              <mat-label>Source</mat-label>
              <mat-chip-list #chipAbilitySoruce aria-label="Tag selection">
                <mat-chip *ngFor="let pTag of importAbility.source" [selectable]="selectable"
                         [removable]="removable" (removed)="removeAbilitySource(pTag)">
                  {{pTag}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New tag..."
                       [matChipInputFor]="chipAbilitySoruce"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       [matChipInputAddOnBlur]="addOnBlur"
                       (matChipInputTokenEnd)="addAbilitySource($event)">
              </mat-chip-list>
            </mat-form-field>
            <table class="full" cellspacing="0"><tr>
                <td><mat-form-field class="full" appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Ability Name" [(ngModel)]="importAbility.name" name="name">
                </mat-form-field></td>
                <td><mat-form-field class="full" appearance="fill">
                  <mat-label>Tier</mat-label>
                  <input matInput type="number" placeholder="1" [(ngModel)]="importAbility.tier" name="tier">
                </mat-form-field></td>
              </tr></table>
              <mat-form-field class="full">
                <mat-label>Primary Tags</mat-label>
                <mat-chip-list #chipListPrimary aria-label="Tag selection">
                  <mat-chip *ngFor="let pTag of importAbility.primaryTags" [selectable]="selectable"
                           [removable]="removable" (removed)="removePTag(pTag)">
                    {{pTag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="New tag..."
                         [matChipInputFor]="chipListPrimary"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="addPTag($event)">
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field class="full">
                <mat-label>Secondary Tags</mat-label>
                <mat-chip-list #chipListSecondary aria-label="Tag selection">
                  <mat-chip *ngFor="let pTag of importAbility.secondaryTags" [selectable]="selectable"
                           [removable]="removable" (removed)="removeSTag(pTag)">
                    {{pTag}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="New tag..."
                         [matChipInputFor]="chipListSecondary"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="addSTag($event)">
                </mat-chip-list>
            </mat-form-field>
            <mat-form-field appearance="fill" class="full">
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="importAbility.description" name="description"></textarea>
            </mat-form-field>
            <button mat-button (click)="addAbility()">Submit</button>
          </form>
          <div class="full">
            <h2>Abilities
                <button mat-button>Add</button>
            </h2>
            <div *ngFor="let abl of abilities">{{AblToTS(abl)}}</div>
          </div>
  </div>
</div>    
