<table mat-table #weaponSort="matSort" [dataSource]="weaponsDataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weapons </th>
        <td mat-cell *matCellDef="let weapon"> {{weapon.name}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef > Tags </th>
        <td mat-cell *matCellDef="let weapon"> {{weapon.tags.join(", ")}}</td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
        <td mat-cell *matCellDef="let weapon"> {{weapon.weight}} lb.</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tier 0 Cost (tins) </th>
        <td mat-cell *matCellDef="let weapon"> {{weapon.cost}} </td>
      </ng-container>

      <ng-container matColumnDef="traits">
        <th mat-header-cell *matHeaderCellDef> Abilities and Traits </th>
        <td mat-cell *matCellDef="let weapon">
          <app-ability-content *ngFor="let ability of weapon.abilities" [ability]=ability></app-ability-content>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; 
                              let even = even
                              columns: displayedColumns;"
                              [ngClass]="{gray: even}"></tr>
</table>
