<div *ngIf="limit !== 0" class="tracker">
    <button mat-icon-button (click)="dec()"><mat-icon>remove</mat-icon></button>
    <span>
        <button mat-icon-button class="trackerButton" (click)="trackerChanged(i)" *ngFor="let x of Arr(this.limit).fill(1);let i = index"><mat-icon color=primary [ngClass]="{'material-icons':i<this.marked,'material-icons-outlined':i>=this.marked}">{{getIcon(i)}}</mat-icon></button>
    </span>
    <button mat-icon-button (click)="inc()"><mat-icon>add</mat-icon></button>
</div>