.tracker{
    display: flex;
    flex-flow: column;
}
.tracker-buttons{
  display: flex;
  flex-flow: row wrap;
}
.tracker h3{
  font-size: 14pt;
  font-weight: 900;
  text-align: left;
  margin-bottom: 0px;
}
.trackerInput {
  width: 25px;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  text-align: center;
}

button.trackerButton:nth-child(5n)::after {
  border-right: 3px solid #9c27b0;
  padding-right: 5px;
  content: "";
  }