<mat-stepper>
    <mat-step>
        <div>Available Points {{characteristicPoints}}</div>
        <table class="characteristics">
            <tr class="characteristic" *ngFor="let char of characteristics">
                <td class="name">{{char.name}}</td> 
                <td class="value">{{valiantCharacteristics.get(char.name)}}</td>
                <td class="buttons">
                    <button mat-stroked-button (click)="consumePoint(char.name,1)">+</button>
                    <button mat-stroked-button (click)="consumePoint(char.name,-1)">-</button>
                </td>
            </tr>   
        </table>
        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Lineage">
        <mat-selection-list class="lineages" #lineageList [(ngModel)]="valiantLineages">
            <mat-list-option #lineage *ngFor="let lineageType of lineages" [disabled]="lineageList.selectedOptions.selected.length > 1 && !lineage.selected" [value]="lineageType.name">
                {{lineageType.name}}
            </mat-list-option>
        </mat-selection-list>
        <div *ngFor="let feat of lineageFeatures | filterByType:valiantLineages">
            {{feat.name}}
        </div>
        <div>
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Profession">
        <div>
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Class">
        <div>
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Character">
        <div class="valiantCharacteristics">
            <div *ngFor="let char of characteristics">
                <span>
                    {{char.name}} : {{valiantCharacteristics.get(char.name)}}
                </span>
            </div>
        </div>
        <div class="valiantLineages">
            Lineage: {{valiantLineages.join(" ")}}
        </div>
        <div>
            <button mat-button matStepperPrevious>Previous</button>
        </div>
    </mat-step>
</mat-stepper>