
.name {
    padding: .25em 1em .25em 1em;

}
.value {
    border: thin groove;
    padding: .25em 1em .25em 1em;
}
.buttons {
    padding: .25em 1em .25em 1em;
}
table, th, td, tr {
    outline: black thin 1;
}