<mat-stepper>
    <mat-step mat-app-background label="Characteristics">
        <div>Available Points {{characteristicPoints}}</div>
        <table class="characteristics">
            <tr class="characteristic" *ngFor="let char of characteristics; let i =index">
                <td class="name">
                    <app-characteristic-dialog [characteristic]=char></app-characteristic-dialog>
                </td> 
                <td class="value">{{valiantCharacteristics[i].score}}</td>
                <td class="buttons">
                    <button mat-stroked-button (click)="consumePoint(char.name,1)">+</button>
                    <button mat-stroked-button (click)="consumePoint(char.name,-1)">-</button>
                </td>
            </tr>   
        </table>
        <div>

        </div>

        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step mat-app-background label="Lineage">
        <div class="lineageSelection">
            <div class="lineages">
                <h3>Lineages Pick up to 2</h3>
                <mat-selection-list  #lineageList [(ngModel)]="valiantLineages" (selectionChange)="lineageSelected($event)">
                    <mat-list-option class="choice" #lineage *ngFor="let lineageType of lineages" [disabled]="lineageList.selectedOptions.selected.length > 1 && !lineage.selected" [value]="lineageType">
                        {{lineageType.name}}
                    </mat-list-option>
                </mat-selection-list>
            </div>
            
            <div class="PrimaryFeatures">
                <h3>Combat Features Pick 2, must be from different lineages if 2 lineages are selected</h3>
                <mat-selection-list  #primaryFeatureList [(ngModel)]="valiantLineagePrimaryFeatures">
                    <mat-list-option class="choice" #primeFeature *ngFor="let primaryFeature of primary(lineageFeatures) | filterByType:valiantLineages" [disabled]="primaryFeatureList.selectedOptions.selected.length > 1 && !primeFeature.selected" [value]="primaryFeature">
                        <h4 mat-line>{{primaryFeature.name}} - {{primaryFeature.source.join(", ")}}</h4>
                        <br>
                        <p class="description" mat-line>{{primaryFeature.description}}</p>
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="SecondaryFeatures">
                <h3>Utility Features Pick 2, must be from different lineages if 2 lineages are selected</h3>
                <mat-selection-list  #secondaryFeatureList [(ngModel)]="valiantLineageSecondaryFeatures">
                    <mat-list-option class="choice" #secondFeature *ngFor="let secondaryFeature of secondary(lineageFeatures) | filterByType:valiantLineages" [disabled]="secondaryFeatureList.selectedOptions.selected.length > 1 && !secondFeature.selected" [value]="secondaryFeature">
                        <h4 mat-line>{{secondaryFeature.name}} - {{secondaryFeature.source.join(", ")}}</h4>
                        <p class="description" mat-line>{{secondaryFeature.description}}</p>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        
        <div>
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Class">
        <div class="classSelection">
            <div class="PrimaryFeatures">
                <h3>Combat Features Pick 2</h3>
                <mat-selection-list  #primaryClassFeatureList [(ngModel)]="valiantClassPrimaryFeatures">
                    <mat-list-option class="choice" #primeClassFeature *ngFor="let primaryFeature of primary(classFeatures)" [disabled]="primaryClassFeatureList.selectedOptions.selected.length > 1 && !primeClassFeature.selected" [value]="primaryFeature">
                        <h4 mat-line>{{primaryFeature.name}} - {{primaryFeature.source.join(", ")}}</h4>
                        <br>
                        <p class="description" mat-line>{{primaryFeature.description}}</p>
                    </mat-list-option>
                </mat-selection-list>
            </div>
            <div class="SecondaryFeatures">
                <h3>Utility Features Pick 1</h3>
                <mat-selection-list  #secondaryClassFeatureList [(ngModel)]="valiantClassSecondaryFeatures">
                    <mat-list-option class="choice" #secondClassFeature *ngFor="let secondaryFeature of secondary(classFeatures)" [disabled]="secondaryClassFeatureList.selectedOptions.selected.length > 0 && !secondClassFeature.selected" [value]="secondaryFeature">
                        <h4 mat-line>{{secondaryFeature.name}} - {{secondaryFeature.source.join(", ")}}</h4>
                        <p class="description" mat-line>{{secondaryFeature.description}}</p>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
        
        <div>
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step label="Character">
        <input mat-input [(ngModel)]="valiantName">
        <div class="valiantCharacteristics">
            <div *ngFor="let char of valiantCharacteristics">
                <span>
                    {{char.name}} : {{char.score}}
                </span>
            </div>
        </div>
        <div class="valiantLineages">
            Lineage: <span *ngFor="let lineage of valiantLineages">{{lineage.name}}, </span>
        </div>
        <div class="cards">

        </div>
        <div>
            <button mat-button matStepperPrevious>Previous</button>
            <button mat-button (click)="save()">Save</button>
        </div>
    </mat-step>
</mat-stepper>