<h1 mat-dialog-title>{{trait ? "Trait" : "Ability"}} Select
    <input matInput [(ngModel)]="filter" (ngModelChange)="filterItem($event)" placeholder="Search by Name">
</h1>
<mat-dialog-content>
    <div class="flex">
        <mat-selection-list class="rowSelect" [(ngModel)]="selection">
            <mat-list-option class="choice"  *ngFor="let ability of displayAbilities" [value]="ability">
                {{ability.name}}
            </mat-list-option>
        </mat-selection-list>
        <div class="rowDescription">
            <app-ability-content *ngFor="let ability of selection" [ability]=ability [big]=true></app-ability-content>
        </div> 
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="selection" cdkFocusInitial>Select</button>
</mat-dialog-actions>