<mat-card class="card" *ngIf="feature">
    <mat-card-header>
        <mat-card-title>
          <span class="name">{{feature.name}}</span>  
        </mat-card-title>
        <mat-card-subtitle>
          <span>{{feature.types.join(", ")}}</span>
          <mat-divider></mat-divider>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
          {{feature.description}}
        </p>
        <app-ability-content *ngFor="let ability of feature.abilities" [ability]=ability></app-ability-content>
        <div *ngFor="let trait of feature.traits">
          <span class="trait-name">{{trait.name}}</span>
          <p>{{trait.description}}</p>
        </div>
    </mat-card-content>
</mat-card>