@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/purple-green.css";
@include mat-core();
$angular-primary: mat-palette($mat-purple);
$angular-accent: mat-palette($mat-green);
$angular-warn: mat-palette($mat-pink);

$angular-default-theme: mat-light-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2,
p {
  padding: 16px;
}

.mr-8 {
  margin-right: 8px;
}
.fixed-width-dialog .mat-dialog-container {
  max-width: 80vw !important;
  width: 80vw !important;
}
.mat-button:hover {
  color: #a5d6a7;
  background: rgba($color: #000000, $alpha: .4);
}