<div *ngIf="valiant" class="container">
    <div class="header row">
        <input matInput [(ngModel)]=valiant.name class="valiantName">
        <button mat-button (click)="save()">Save</button>
        <button mat-button (click)="export()">Export</button>
    </div>
    
    <div class="row valiantAttributesStatic">
        <div class="attribute">
            <app-tracker [(limit)]="valiant.armorMax" [(marked)]=valiant.armorCurrent icon="shield" label="ARMOR"></app-tracker>
        </div>
        <div class="attribute">
            <app-tracker [(limit)]="valiant.enduranceMax" [(marked)]=valiant.enduranceCurrent icon="favorite" label="ENDURANCE"></app-tracker>
        </div>
        <div class="attribute">
            <app-tracker [(limit)]="valiant.deathResistanceMax" [(marked)]=valiant.deathResistanceCurrent icon="person" label="DEATH RESISTANCE"></app-tracker>
        </div>
    </div>

    <div class="row">
        <div class="valiantCharacteristics">
            <div *ngFor="let char of valiant.characteristics;let i =index" class="valiantCharacteristic">
                    <div><input matInput  type="text" [(ngModel)]="valiant.characteristics[i].score" class="characteristicsValue"></div>
                    <label> // {{char.name}}</label>
            </div>
        </div>
        <div class="valiantAttributesDynamic">
            <div class="attributeDynamic">
                <label>Lethality </label><input matInput [(ngModel)]="valiant.lethality">
            </div>
            
            <div class="attributeDynamic">
                <label>Movement </label><input matInput [(ngModel)]="valiant.movement">
            </div>
            <div class="attributeDynamic">
                <label>Focus </label><input matInput [(ngModel)]="valiant.focus">
            </div>
            <div class="attributeDynamic">
                <label>Resistance </label><input matInput [(ngModel)]="valiant.resistance">
            </div>
        </div>
    </div>

    <div class="valiantDetails">
        <mat-tab-group class="info">
            <mat-tab label="Description">
                <div class="valiantLineages">
                    Lineage: <span *ngFor="let lineage of valiant.lineages">{{lineage.name}}, </span>
                </div>
                <form class="basicInfo">
                    <table cellspacing="0" class="fullWidth">
                        <tr>
                            <td>
                                <mat-form-field appearance="fill" class="fullWidth">
                                    <mat-label>Age</mat-label>
                                    <input matInput [(ngModel)]="valiant.age" name="age">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="fullWidth">
                                    <mat-label>Height</mat-label>
                                    <input matInput [(ngModel)]="valiant.height" name="height">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="fullWidth">
                                    <mat-label>Weight</mat-label>
                                    <input matInput [(ngModel)]="valiant.weight" name="weight">
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill" class="fullWidth">
                                    <mat-label>Gender</mat-label>
                                    <input matInput [(ngModel)]="valiant.gender" name="gender">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="0" class="fullWidth">
                        <tr>
                            <td style="vertical-align: top;">
                                <mat-form-field appearance="fill" class="fullWidth">
                                    <mat-label>Appearance</mat-label>
                                    <textarea matInput [(ngModel)]="valiant.appearance" name="appearance" cdkTextareaAutosize cdkAutosizeMinRows="25"></textarea>
                                </mat-form-field>
                            </td>
                            <td style="vertical-align: top;">
                                <mat-form-field appearance="fill" class="fullWidth">
                                    <mat-label>Origin</mat-label>
                                    <textarea matInput [(ngModel)]="valiant.origin" name="origin" cdkTextareaAutosize cdkAutosizeMinRows="25"></textarea>
                                </mat-form-field>
                            </td>
                            <td style="vertical-align: top;">
                                <mat-form-field appearance="fill" class="fullWidth">
                                    <mat-label>Languages</mat-label>
                                    <textarea matInput [(ngModel)]="valiant.languages" name="languages" cdkTextareaAutosize cdkAutosizeMinRows="25"></textarea>
                                </mat-form-field>
                            </td>
                            <td style="vertical-align: top;">
                                <mat-form-field appearance="fill" class="fullWidth">
                                    <mat-label>Description</mat-label>
                                    <textarea matInput [(ngModel)]="valiant.description" name="description" cdkTextareaAutosize cdkAutosizeMinRows="25"></textarea>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </form>
            </mat-tab>
            <mat-tab label="Abilities & Traits">
                <div class="grid">
                    <div class="col">
                        <div class="gridHeading">
                            <h2>Ability List</h2>
                            <button mat-mini-fab color="primary"(click)="openAddAbilities(false)"><mat-icon>add</mat-icon></button>
                        </div>
                        <div class="ability-list" cdkDropList (cdkDropListDropped)="dropAbility($event)">
                            <div class="listItem" *ngFor="let ability of valiant.abilities" cdkDrag>
                                <app-ability-card [ability]=ability [enableMenu]="true" (deleteClicked)="removeAbility($event)" class="card">
                                    <div class="ability-handle" cdkDragHandle cdkDragRootElement="app-ability-card">
                                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                        </svg>
                                    </div>
                                </app-ability-card>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="gridHeading">
                            <h2>Trait List</h2>
                            <button mat-mini-fab color="primary"(click)="openAddAbilities(true)"><mat-icon>add</mat-icon></button>
                        </div>
                        <div class="ability-list" cdkDropList (cdkDropListDropped)="dropTrait($event)">
                            <div class="listItem" *ngFor="let ability of valiant.traits" cdkDrag>
                                <app-ability-card [ability]=ability [enableMenu]="true" (deleteClicked)="removeAbility($event)" class="card">
                                    <div class="ability-handle" cdkDragHandle cdkDragRootElement="app-ability-card">
                                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                                            <path d="M0 0h24v24H0z" fill="none"></path>
                                        </svg>
                                    </div>
                                </app-ability-card>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="inventory">
            <div class="header">
                Inventory
                ({{inventoryWeight()}}/
                {{valiant.weightThreshold}} lbs.)
                <button mat-icon-button [matMenuTriggerFor]="invMenu">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
            
            <table cellspacing="0" class="fullWidth">
                <tr>
                    <td>
                        <mat-form-field appearance="fill" class="fullWidth">
                            <mat-label>Tins</mat-label>
                            <input matInput [(ngModel)]="valiant.tins" name="tins">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" class="fullWidth">
                            <mat-label>Crowns</mat-label>
                            <input matInput [(ngModel)]="valiant.crowns" name="crowns">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" class="fullWidth">
                            <mat-label>Perls</mat-label>
                            <input matInput [(ngModel)]="valiant.perls" name="perls">
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <mat-menu #invMenu="matMenu">
                <!--<button mat-menu-item>
                Add Existing Item
                </button>-->
                <button mat-menu-item (click)="addNewItem()">
                Add New Item
                </button>
            </mat-menu>
            <div class="example-list" cdkDropList (cdkDropListDropped)="dropItem($event)">
                <div class="example-box" *ngFor="let item of valiant.inventory" cdkDrag cdkDragLockAxis="y">
                    <div class="example-handle" cdkDragHandle>
                        <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                    </div>
                    <mat-form-field class="quantity" appearance="standard">
                        <input matInput class="itemQuantity" [(ngModel)]="item.quantity" name="Item Quantity">
                    </mat-form-field>
                    
                    <div class="itemName">{{item.name}}</div>
                    <button mat-icon-button [matMenuTriggerFor]="itemMenu" class="itemButton">
                        <mat-icon style="transform: scale(1.5);">more_vert</mat-icon>
                    </button>
                    <mat-menu #itemMenu="matMenu">
                        <button mat-menu-item (click)="editItem(item)">
                        Modify
                        </button>
                        <button mat-menu-item (click)="deleteItem(item)">
                        Delete
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>   
</div>