<div *ngIf="valiant" class="container">
    <h1 class="valiantName">{{valiant.name}}</h1>
    <div class="valiantCharacteristics">
        <div *ngFor="let char of valiant.characteristics ">
            <span>
                {{char.name}} : {{char.score}}
            </span>
        </div>

        <div class="valiantProfession">
            Profession: {{valiant.professions[0]?.name}}
        </div>
        <div class="valiantLineages">
            Lineage: <span *ngFor="let lineage of valiant.lineages">{{lineage.name}}, </span>
        </div>
    </div>

    <div class="valiantAttributes">
        <div class="attribute">
            <h3>Endurance</h3>
            <div class="attributeCurrMax">
                <span><input mat-input type="text"[(ngModel)]="valiant.enduranceCurrent" class="current"></span>
                <span class="slash">/</span>
                <span><input mat-input type="text" [(ngModel)]="valiant.enduranceMax" class="max"></span>
            </div>
        </div>
        <div class="attribute">
            <h3>Energy</h3>
            <div class="attributeCurrMax">
                <span><input mat-input type="text"[(ngModel)]="valiant.energyCurrent" class="current"></span>
                <span class="slash">/</span>
                <span><input mat-input type="text" [(ngModel)]="valiant.energyMax" class="max"></span>
            </div>
        </div>
        <div class="attribute">
            <h3>Death Resistance</h3>
            <div class="attributeCurrMax">
                <span><input mat-input type="text"[(ngModel)]="valiant.deathResistanceCurrent" class="current"></span>
                <span class="slash">/</span>
                <span><input mat-input type="text" [(ngModel)]="valiant.deathResistanceMax" class="max"></span>
            </div>  
        </div>
        <div class="attribute">
            <h3>Focus Slots</h3>
            <div class="attributeCurrMax">
                <span><input mat-input type="text"[(ngModel)]="valiant.focusSlotsCurrent" class="current"></span>
                <span class="slash">/</span>
                <span><input mat-input type="text" [(ngModel)]="valiant.focusSlotsMax" class="max"></span>
            </div>
        </div>
    </div>

    <div class="valiantAttributesFixed">
        <div class="attributeFixed">
            <h3>Movement</h3>
            <div class="attributeAmount">
                <span><input mat-input type="text" [(ngModel)]="valiant.movement" class="max"></span>
            </div>
        </div>
        <div class="attributeFixed">
            <h3>Combat Speed</h3>
            <div class="attributeAmount">
                <span><input mat-input type="text" [(ngModel)]="valiant.combatSpeed" class="max"></span>
            </div>        
        </div>
        <div class="attributeFixed">
            <h3>Lethality</h3>
            <div class="attributeAmount">
                <span><input mat-input type="text" [(ngModel)]="valiant.lethality" class="max"></span>
            </div>
        </div>
        <div class="attributeFixed">
            <h3>Force</h3>
            <div class="attributeAmount">
                <span><input mat-input type="text" [(ngModel)]="valiant.force" class="max"></span>
            </div>
        </div>
        <div class="attributeFixed">
            <h3>Defence</h3>
            <div class="attributeAmount">
                <span><input mat-input type="text" [(ngModel)]="valiant.defence" class="max"></span>
            </div>
        </div>
        <div class="attributeFixed">
            <h3>Resistance</h3>
            <div class="attributeAmount">
                <span><input mat-input type="text" [(ngModel)]="valiant.resistance" class="max"></span>
            </div>      
        </div>
    </div>
        
    
   

    <div class="cards">
        <app-feature-card *ngFor="let feat of valiant.features" [feature]=feat class="card"></app-feature-card>
    </div>
</div>