<mat-card class="card" *ngIf="ability">
    <mat-card-header>
        <mat-card-title>
          <span class="name">{{ability.name}}</span>  
        </mat-card-title>
        <mat-card-subtitle>
          <span>{{ability.types.join(", ")}}</span>
          <mat-divider></mat-divider>
        </mat-card-subtitle>
        <div style="flex-grow: 1"></div>
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="enableMenu">
          <mat-icon>more_vert</mat-icon>
        </button> 
    </mat-card-header>
    <mat-card-content>
        <app-ability-content [ability]=ability></app-ability-content>
    </mat-card-content>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="clickDelete()">
        Delete
      </button>
    </mat-menu>
</mat-card>