<mat-card class="card" *ngIf="lineage">
    <mat-card-header>
      <mat-card-title>
        <span class="name">{{lineage.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-divider></mat-divider>
      </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <mat-tab-group headerPosition="below" dynamicHeight="true">
        <mat-tab label="Info">
          <p>
            {{lineage.description}}
          </p>
          <h3>Persistent Feature</h3>
            <mat-expansion-panel *ngFor="let feature of persistent(lineage.features)">
              <mat-expansion-panel-header> <span class="feature">{{feature.name}}</span> </mat-expansion-panel-header>
              <p>
                {{feature.description}}
              </p>
              <app-ability-content *ngFor="let ability of feature.abilities" [ability]=ability></app-ability-content>
              <div *ngFor="let trait of feature.traits">
                <span class="trait-name">{{trait.name}}</span>
                <p>{{trait.description}}</p>
              </div>
            </mat-expansion-panel>
        </mat-tab>
        <mat-tab label="Combat">
          <h3>Combat Features</h3>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let feature of primary(lineage.features)">
              <mat-expansion-panel-header>
                <span class="feature">{{feature.name}}</span>
              </mat-expansion-panel-header>
              <p>
                {{feature.description}}
              </p>
              <app-ability-content *ngFor="let ability of feature.abilities" [ability]=ability></app-ability-content>
              <div *ngFor="let trait of feature.traits">
                <span class="trait-name">{{trait.name}}</span>
                <p>{{trait.description}}</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="Utility">
          <h3>Utility Features</h3>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let feature of secondary(lineage.features)">
              <mat-expansion-panel-header>
                <span class="feature">{{feature.name}}</span>
              </mat-expansion-panel-header>
              <p>
                {{feature.description}}
              </p>
              <app-ability-content *ngFor="let ability of feature.abilities" [ability]=ability></app-ability-content>
              <div *ngFor="let trait of feature.traits">
                <span class="trait-name">{{trait.name}}</span>
                <p>{{trait.description}}</p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>