<mat-card class="card" *ngIf="lineage">
    <mat-card-header>
      <mat-card-title>
        <span class="name">{{lineage.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <mat-divider></mat-divider>
      </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <mat-tab-group headerPosition="below" dynamicHeight="true">
        <mat-tab label="Info">
          <p>
            {{lineage.description}}
          </p>
          <h3>Utility Effects</h3>
          <app-ability-content *ngFor="let ability of utility(lineage.abilities)" [ability]=ability></app-ability-content>  
        </mat-tab>
        <mat-tab label="Abilities & Traits">
          <app-ability-content *ngFor="let ability of primary(lineage.abilities)" [ability]=ability></app-ability-content>   
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>